.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.img-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-carousel img {
    width: 100%;
    height: 50vh;
    display: block;
}

.img-carousel p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

.img-carousel.active {
    opacity: 1;
    position: relative;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#prevSlide {
    left: 10px;
}

#nextSlide {
    right: 10px;
}

.carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}