body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
}

.form-container.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin-top: 5px;
}

.radio-btns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}